@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

body {
  background-color: #edf7fc;
}

.main-container {
  width: 96%;
  margin: auto;
  margin-top: 65px;
}

.profile-picture {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 110px;
}

.name {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  color: #000e14;
  font-size: 18px;

  text-align: center;
  text-transform: uppercase;
}

.description {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  color: #000e14;
  font-size: 14px;

  text-align: center;
  margin-bottom: 15px;
}

.description-link {
  color: #000e14;
  text-decoration-color: #00ff96;
}

.link-button {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;

  margin-top: 15px;
  border: none;
  text-decoration: none;
  color: #ffffff;
  background-color: rgb(4, 30, 58);
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 15px;
}
